html,
body {
  font-family: 'Marck Script', cursive;
}

.app-container {
  display: flex;
  position: relative;
  max-width: 1040px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 100px 0 200px 0;
}

.app-image-left {
  width: 200px;
  position: absolute;
  transform: translateX(-275px);
}

.app-image-right {
  width: 300px;
  position: absolute;
  right: 0;
  transform: translateX(275px) translateY(50px);
}
